@model IEnumerable<Unitunes.Models.Media>

@{
    ViewBag.Title = "Listar";
}

<h2>Listar</h2>

<p>
    @Html.ActionLink(" Adicionar Nova midia", "CriarNovaMidia")
    @Html.ActionLink("Principal", "Principal","Login")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descricao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Publicado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Preco)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Categoria)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataCriacao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Caminho)
        </th>
        <th>
            @Html.DisplayName("Tipo")
        </th>

        <th></th>
    </tr>
@if(Model != null){
    foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descricao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Publicado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Preco)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Categoria)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataCriacao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Caminho)
        </td>
        <td>
            @item.GetType().Name
        </td>

        <td>
            @Html.ActionLink("Editar", "Editar", item.GetType().Name, new { id = item.Id }, null) |
            @Html.ActionLink("Deletar", "Deletar", item.GetType().Name, new { id = item.Id }, null) |
</td>
    </tr>
    }
}
</table>
