@model IEnumerable<Unitunes.Models.Media>

@{
    ViewBag.Title = "Listar";
}

<h2>Listar</h2>

<p>
    @Html.ActionLink(" Adicionar Nova midia", "CriarNovaMidia")
    @Html.ActionLink("Principal", "Principal", "Login")
</p>


@using (Html.BeginForm("Principal", "Login", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Media</h4>
        <hr />
        <div class="form-group">

            
            <div class="col-md-offset-2 col-md-10">
                
                @{
                    List<SelectListItem> listItems = new List<SelectListItem>();
                    listItems.Add(new SelectListItem
                         {
                             Text = "Livro",
                             Value = "Livro"
                         });
                    listItems.Add(new SelectListItem
                         {
                             Text = "Muscica",
                             Value = "Musica",
                             Selected = true
                         });
                    listItems.Add(new SelectListItem
                         {
                             Text = "Podcast",
                             Value = "Podcast"
                         });
                    listItems.Add(new SelectListItem
                    {
                        Text = "Video",
                        Value = "Video"
                    });
                }

                @Html.DropDownList("tipo", listItems, "-- Selecione --")
                <input type="text" name="nome" />
                <input type="submit" value="Buscar" class="btn btn-default" />
            </div>
        </div>
    </div>

}


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descricao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Publicado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Preco)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Categoria)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataCriacao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Caminho)
        </th>
        <th>
            @Html.DisplayName("Tipo")
        </th>

        <th></th>
    </tr>
    @if (Model != null)
    {
        foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descricao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Publicado)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Preco)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Categoria)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DataCriacao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Caminho)
                </td>
                <td>
                    @item.GetType().Name
                </td>

                <td>
                    @Html.ActionLink("Editar", "Editar", item.GetType().Name, new { id = item.Id }, null) |
                    @Html.ActionLink("Deletar", "Deletar", item.GetType().Name, new { id = item.Id }, null) |
                </td>
            </tr>
        }
    }
</table>
