@model IEnumerable<Unitunes.Models.ViewModel.PrincipalViewModel>

@{
    ViewBag.Title = "Listar";
}

<h2>Listar</h2>

<p>
    @Html.ActionLink(" Adicionar Nova midia", "CriarNovaMidia", "Midia")|
    @Html.ActionLink(" Minhas midias", "Listar", "Midia")|
    @Html.ActionLink("Checkout", "Index", "Checkout")|
    @Html.ActionLink("Transações", "Index", "Transacao")|
    @Html.ActionLink(" Principal", "Principal", "Login")|
    @Html.ActionLink(" Logout", "Logout", "Login")
</p>


@using (Html.BeginForm("Principal", "Login", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Media</h4>
        <hr />
        <div class="form-group">

            
            <div class="col-md-offset-2 col-md-10">
                
                @{
                    List<SelectListItem> listItems = new List<SelectListItem>();
                    listItems.Add(new SelectListItem
                         {
                             Text = "Livro",
                             Value = "Livro"
                         });
                    listItems.Add(new SelectListItem
                         {
                             Text = "Muscica",
                             Value = "Musica",
                             Selected = true
                         });
                    listItems.Add(new SelectListItem
                         {
                             Text = "Podcast",
                             Value = "Podcast"
                         });
                    listItems.Add(new SelectListItem
                    {
                        Text = "Video",
                        Value = "Video"
                    });
                }

                @Html.DropDownList("tipo", listItems, "-- Selecione --")
                <input type="text" name="nome" />
                <input type="submit" value="Buscar" class="btn btn-default" />
            </div>
        </div>
    </div>

}


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.midia.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.midia.Descricao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.midia.Publicado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.midia.Preco)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.midia.Categoria)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.midia.DataCriacao)
        </th>

        <th>
            @Html.DisplayName("Tipo")
        </th>
        <th>
           Autor
        </th>
        <th></th>
    </tr>
    @if (Model != null)
    {
        foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.midia.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.midia.Descricao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.midia.Publicado)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.midia.Preco)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.midia.Categoria)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.midia.DataCriacao)
                </td>

                <td>
                    @item.midia.GetType().Name
                </td>
                <td>
                    @item.academico.PrimeiroNome
                </td>

                <td>
                    @Html.ActionLink("Visualizar", "Visualizar" , item.midia.GetType().Name, new { id = item.midia.Id }, null) 
                    
                </td>
            </tr>
        }
    }
</table>
